/* General Styles */
.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
  padding: 20px;
  background-color: #FBFBFB;
  border-radius: 8px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 2rem;
}
body {
  background-color: #F8FAFC;
}
input {
  width: 80%;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
  background-color: transparent;
}

input:focus {
  border-color: #007bff;
}

button {
  padding: 10px 20px;
  background-color: #424769;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
}
.disclaimer{
  margin-top: 20px; 
  font-size: 14px; 
  color: gray; 
  opacity: 60%;
}

button:hover {
  cursor: pointer;
  background-color: #2D3250;
}


p {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}

/* Table Styles */
table {
  width: 100%;
  margin-top: 30px;
  border-collapse: collapse;
  text-align: left;
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}



strong {
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}
